<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ROOT}}/bin/run.sh</string>
{{ARGS}}
  </array>
  <key>StartInterval</key><integer>{{INTERVAL}}</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>{{ROOT}}/data/{{JOB}}.log</string>
  <key>StandardErrorPath</key><string>{{ROOT}}/data/{{JOB}}.log</string>
</dict>
</plist>
